
@{
    ViewBag.Title = "Registration";
}
<h2>Registration</h2>

<label>@ViewBag.Login</label>
<label>@ViewBag.Password</label>
<br />


<label for="login">Enter login -</label>
<input id="login" type="text" placeholder="login">
<br>
<label for="password">Enter password -</label>
<input id="password" type="password" placeholder="password">
<br>
<button>Press me!</button>





